[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/djangoadmin
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/lib/jenkins/workspace/Django-Admin/djangoadmin/djangoadmin.sock djangoadmin.wsgi:application